<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>已录数据</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
<table class="table table-striped">
    <thead class="thead-light">
    <tr>
        <th>年份</th>
        <th>月份</th>
        <th>科室</th>
        <th>人工成本</th>
        <th>办公费</th>
        <th>折旧费</th>
        <th>可变动成本</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
    <tr>
        <td>{{year}}</td>
        <td>{{month}}</td>
        <td>{{name}}</td>
        <td>{{labour_cost}}</td>
        <td>{{administrative_cost}}</td>
        <td>{{depreciation_cost}}</td>
        <td>{{variable_cost}}</td>
        <td>
            <a href="/costDetails/{{id}}" class="btn btn-primary btn-sm">查看详细</a>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
</div>
</body>
</html>